name: cekta-di
services:
  app:
    build:
      context: ./
      args:
        PHP_VERSION: ${PHP_VERSION:-8.2}
    user: ${UID:-1000}
    ports:
      - "3000:3000"
    tty: true
    volumes:
      - ./:/app
    environment:
      - PHP_IDE_CONFIG=serverName=docker
    command:
      - default

