<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
>
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    
<!--    code coverage for new version phpunit-->
<!--    <source>-->
<!--        <include>-->
<!--            <directory>./src</directory>-->
<!--        </include>-->
<!--    </source>-->

<!--    code coverage for phpunit 9.x-->
<!--    <coverage>-->
<!--        <include>-->
<!--            <directory suffix=".php">src</directory>-->
<!--        </include>-->
<!--    </coverage>-->

</phpunit>