---
---

@import "{{ site.theme }}";

.mainContent {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.1fr;
  grid-auto-rows: auto;
  grid-gap: 10px;
  max-width: 80%;
  margin: 0 auto;
}

div.highlighter-rouge {
  width: 70%;
}

.one {
  margin: 2rem auto;
  font-size: 0.9rem;
  text-align: left;
  list-style-position: inside;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  width: 15rem;
  line-height: 2;
}

.one li a {
  margin-top: 1.5rem;
  list-style: none;
  color: #159957;
  white-space: nowrap;
  width: 100%;
}

.one ul {
  margin-bottom: 1rem;
  list-style: none;
  padding-left: 0;
}

.section-title {
  font-size: 1rem;
  color: #1b1e21;
}

.two {
  grid-column: 3 / span 4;
  grid-row: 1 / 5;
}

.two a {
  color: #159957;
}

#footer {
  text-align: center;
  margin-bottom: 2rem;
}

.social {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
}

.main-content {
  padding: 2rem 0;
  font-size: 1rem;
  max-width: 73rem;
}

.page-header {
  padding: 1rem;
}

@media screen and (max-width: 37.5em) {

  .mainContent {
    display: block;
  }

  .one {
    text-align: center;
  }

  div.highlighter-rouge {
    width: auto;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

}
