name: ci
jobs:
  badge:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [
          '8.0',
          '8.1',
          '8.2',
          '8.3',
          '8.4'
        ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          
      - name: build
        run: docker compose build
        env:
          PHP_VERSION: ${{ matrix.php }}
          INFECTION_BADGE_API_KEY: ${{secrets.INFECTION_BADGE_API_KEY}}
          
      - name: ci
        run: docker compose run --rm app ci
        env:
          UID: 0

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
